title= title
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
link(rel="stylesheet" href="/stylesheets/bootstrap.css")
link(rel="stylesheet" href="/stylesheets/bootstrap-theme.css")
link(rel="stylesheet/less" href="/stylesheets/bootstrap-switch.css")
link(rel="stylesheet/less" href="/stylesheets/style.less")


